@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Press+Start+2P&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sarala:wght@400;700&display=swap');

body{
    background: #222435;
    font-family: 'Roboto', sans-serif;
}

*:focus{
    outline: none;
}

h1{
    font-weight: 900;
    color: #7d83b9;
    text-align: center;  /* centraliza o texto selecionado */
}

form{
    display: flex;
    position: relative;
    width: 600px;
    height: 60px;
    margin: 30px auto;
    margin-bottom: 60px;
    /* background: #fc0202; */
}

input{
    display: flex;
    width: 100%;
    height: 60px;
    background: #2d3046;
    border: none;
    padding-left: 30px;
    font-size: 16px;
    border-radius: 10px;
    color: beige;
}

button.add{
    position: absolute;
    top: 0;
    right: 0;
    background: #363b65;
    color: beige;
    border: none;
    cursor: pointer;
    padding: 10px 25px;
    height: 62px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

button.add:hover{
    color: beige;
    background: #363f88;
}

.listaTarefas{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 600px;
    margin: auto;
}

.item{
    display: flex;
    justify-content: space-between;
    border: 1px solid #363b65;
    margin-bottom: 10px;
    cursor: pointer;
}

.item:hover{
    background: #151627;
}

.item span{
    text-align: start;
    width: 100%;
    color: beige;
    margin-right: 10px;
    padding: 10px 15px;
}

.item-completo{
    display: flex;
    justify-content: space-between;
    background: #1e1f2e;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
}

.item-completo span{
    text-align: start;
    width: 100%;
    color: #4d506e;
    margin-right: 10px;
    padding: 10px 15px;
    text-decoration: line-through;
    opacity: 0.5;
}

button.del{
    background: none;
    border: none;
    color: #4d506e;
    padding: 15px;
    cursor: pointer;
}

button.del:hover{
    background: #ff004c;
    border: none;
    color: beige;
    padding: 15px;
    cursor: pointer;
}

button.deletAll{
    background: none;
    border: 1px solid #ff004c;
    color: #ff004c;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

button.deletAll:hover{
    background: #ff004c;
    color: rgb(243, 243, 238);
}

.icone-central{
    margin-top: -40px;
    max-width: 100%;
}

@media screen and (max-width: 900px) {
    form{
        width: 100%;
    }

    .listaTarefas{
        width: 100%;
    }
    
}